body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}
.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.btn {
  background-color: #fff;
  border: 2px solid #6a1b9a;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #6a1b9a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #6a1b9a;
  color: #fff;
}

.score,
.result {
  font-size: 1.2rem;
  color: #333;
  margin: 15px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

button:not(.btn) {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:not(.btn):hover {
  background-color: #218838;
}

#roundResult,
#gameScore {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}
